{% extends 'buecher/base.html' %}
{% load staticfiles %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h1 class="page-header"><a href="{% url 'list' lst.slug %}">{{ lst.name|lower }}</a> <small>editions</small></h1>
    </div>
</div>
{% for edition in lst.editions.all %}
    <div class="row">
        <div class="col-md-3 col-md-offset-2">
            <a href="{% url 'edition' edition.book.slug edition.id %}"><img class="img-responsive img-thumbnail" src="{% if edition.cover_image %}{{ edition.cover_image.url }}{% else %}{% static 'images/default_cover.jpg' %}{% endif%}" style="height: 300px;" alt=" {{ edition }} " title=" {{ edition }} "></a>
        </div>
        <div class="col-md-5">
            {% include 'buecher/books/edition/partials/_table.html' with edition=edition short=True thead=True list_remove=lst %}
        </div>
    </div>
    {% if not forloop.last %}
        <div class="row"><div class="col-md-8 col-md-offset-2"><hr/></div></div>
    {% endif %}
{% endfor %}
{% endblock %}
