{% extends 'buecher/base.html' %}
{% load staticfiles %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h1 class="page-header">{{ lst.name|lower }}</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h2 class="page-header">books</h2>
        {% if lst.books.all %}
            {% for book in lst.books.all %}
                {% include 'buecher/books/book/partials/_list_shape.html' with book=book %}
            {% endfor %}
        {% else %}
            <p>no books are available.</p>
        {% endif %}
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h2 class="page-header">editions</h2>
        {% if lst.editions.all %}
            {% for edition in lst.editions.all %}
                {% include 'buecher/books/edition/partials/_list_shape.html' with edition=edition %}
            {% endfor %}
        {% else %}
            <p>no editions are available.</p>
        {% endif %}
    </div>
</div>
{% endblock %}
