{% extends 'buecher/base.html' %}
{% load buecher %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h1 class="page-header">statistics</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <table class="table">
            <tbody>
                <tr>
                    <th>books</th>
                    <td>{{ books }}</td>
                </tr>
                <tr>
                    <th>editions</th>
                    <td>{{ editions }}</td>
                </tr>
            </tbody>
        </table>
        {% if user.is_authenticated %}
            <table class="table">
                <thead>
                    <tr>
                        <th>list</th>
                        <th>books</th>
                        <th>editions</th>
                    </tr>
                </thead>
                <tbody>
                    {% user_lists user as lists %}
                    {% for list in lists %}
                        <tr>
                            <th><a href="{% url 'list' list.slug %}">{{ list.name|lower }}</a></th>
                            <td>{{ list.books.count }}</td>
                            <td>{{ list.editions.count }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
</div>
{% endblock %}
