{% extends 'buecher/base.html' %}
{% load buecher staticfiles %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h1 class="page-header"><a href="{% url 'book' edition.book.slug %}">{{ edition.book.title }}</a>
            <small>
                by
                {% for author in edition.book.authors.all %}
                    <a href="{% url 'person' author.slug %}">{{ author }}</a>{% if not forloop.last %}, {% endif %}
                {% endfor %}
                {% if edition.book.series %}
                    (<a href="{% url 'series' edition.book.series.slug %}">{{ edition.book.series }}</a> #{{ edition.book.volume }})
                {% endif %}
                {% if user.is_staff %}
                    <a href="{% url 'admin:books_edition_change' edition.id %}"><span class="glyphicon glyphicon-pencil"></span></a>
                {% endif %}
            </small>
        </h1>
    </div>
</div>
<div class="row">
    <div class="col-md-3 col-md-offset-2">
        <img class="img-responsive img-thumbnail" src="{% if edition.cover_image %}{{ edition.cover_image.url }}{% else %}{% static 'images/default_cover.jpg' %}{% endif%}" alt=" {{ edition.book }} " title=" {{ edition.book }} ">
    </div>
    <div class="col-md-4">
        <table class="table">
            <tbody>
                {% if edition.isin %}
                    <tr>
                        <th>isin:</th>
                        <td>{{ edition.isin }}</td>
                    </tr>
                {% endif %}
                {% if edition.asin %}
                    <tr>
                        <th>asin:</th>
                        <td>{{ edition.asin }}</td>
                    </tr>
                {% endif %}
                {% if edition.publisher %}
                    <tr>
                        <th>publisher:</th>
                        <td><a href="{% url 'publisher' edition.publisher.slug %}">{{ edition.publisher }}</a></td>
                    </tr>
                {% endif %}
                {% if edition.published_on %}
                    <tr>
                        <th>published on:</th>
                        <td>{{ edition.published_on|date:'d. F Y' }}</td>
                    </tr>
                {% endif %}
                {% if edition.binding %}
                    <tr>
                        <th>binding:</th>
                        <td>{{ edition.binding }}</td>
                    </tr>
                {% endif %}
                {% if edition.languages.all %}
                    <tr>
                        <th>languages:</th>
                        <td>{{ edition.languages.all|join:', ' }}</td>
                    </tr>
                {% endif %}
                {% if edition.links.all %}
                    <tr>
                        <th>links:</th>
                        <td>
                            <ul class="list-unstyled">
                                {% for link in edition.links.all %}
                                    <li><a href="{{ link }}" target="_blank">{{ link }}</a></li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                {% endif %}
                {% for possession in possessions %}
                    <tr>
                        <th>acquisition:</th>
                        <td>{{ possession.acquisition|date:'d. F Y' }} for {{ possession.price|floatdot:possession.unit.precision }}{{ possession.unit.symbol }} <a href="{% url 'possession_edit' edition.book.slug edition.id possession.id %}"><span class="glyphicon glyphicon-pencil"></span></a></td>
                    </tr>
                {% endfor %}
                {% if user.is_authenticated %}
                    <tr>
                        <th></th>
                        <td><a href="{% url 'possession_add' edition.book.slug edition.id %}"><span class="glyphicon glyphicon-plus"></span> add possession</a></td>
                    </tr>
                {% endif %}
                {% for read in reads %}
                    <tr>
                        <th>read:</th>
                        <td>{% edition_read read %} <a href="{% url 'read_edit' edition.book.slug edition.id read.id %}"><span class="glyphicon glyphicon-pencil"></span></a></td>
                    </tr>
                {% endfor %}
                {% if user.is_authenticated %}
                    <tr>
                        <th></th>
                        <td><a href="{% url 'read_add' edition.book.slug edition.id %}"><span class="glyphicon glyphicon-plus"></span> add read</a></td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
