{% extends 'buecher/base.html' %}
{% load buecher staticfiles %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h1 class="page-header"><a href="{% url 'book' edition.book.slug %}">{{ edition.book.title }}</a>
            <small>
                edition #{{ edition.id }}
                {% if user.is_staff %}
                    <a href="{% url 'edition_edit' edition.book.slug edition.id %}" title="edit edition"><span class="glyphicon glyphicon-pencil"></span></a>
                {% endif %}
            </small>
        </h1>
    </div>
</div>
<div class="row">
    <div class="col-md-3 col-md-offset-2">
        <img class="img-responsive img-thumbnail" src="{% if edition.cover_image %}{{ edition.cover_image.url }}{% else %}{% static 'images/default_cover.jpg' %}{% endif%}" alt=" {{ edition.book }} " title=" {{ edition.book }} ">
    </div>
    <div class="col-md-4">
        {% include 'buecher/books/edition/partials/_table.html' with edition=edition add_possessions=True add_reads=True %}
    </div>
</div>
{% endblock %}
