{% extends "base.html" %}

{% block searchbox %}
<div id="search_box">
	<form action="" method="get" accept-charset="UTF-8" autocomplete="off">
		<input type="text" id="search" name="search" placeholder="search ..." required />
	</form>
</div>
{% endblock %}

{% block page_arrows %}
{% if books.has_previous %}
	<div class="left_arrow"><a href="?{% if request.GET.search %}search={{ request.GET.search }}&{% endif %}page={{ books.previous_page_number }}"><span class="arrow-w"></span></a></div>
{% endif %}
{% if books.has_next %}
	<div class="right_arrow"><a href="?{% if request.GET.search %}search={{ request.GET.search }}&{% endif %}page={{ books.next_page_number }}"><span class="arrow-e"></span></a></div>
{% endif %}
{% endblock %}

{% block content %}
{% if books %}
	{% for book in books %}
		{% url 'books.views.detail' book.id as url %}
		{% include "books/book_list_partial.html" with book=book url=url %}
	{% endfor %}
{% else %}
	<p>No books are available.</p>
{% endif %}
{% endblock %}