{% extends "base.html" %}

{% block searchbox %}
<div id="search_box">
	<form action="?s=search" method="get" accept-charset="UTF-8" autocomplete="off">
		<input type="text" id="search" name="search" placeholder="Search ..." required />
		<input type="hidden" name="s" value="search" />
		<input type="hidden" name="o" value="author" />
	</form>
</div>
{% endblock %}

{% block page_arrows %}
{% if books.has_previous %}
	<div class="left_arrow"><a href="?page={{ books.previous_page_number }}"><span class="arrow-w"></span></a></div>
{% endif %}
{% if books.has_next %}
	<div class="right_arrow"><a href="?page={{ books.next_page_number }}"><span class="arrow-e"></span></a></div>
{% endif %}
{% endblock %}

{% block content %}
{% if books %}
	{% for book in books %}
			{% include "books/book_list_partial.html" with book=book %}
	{% endfor %}
{% else %}
	<p>No books are available.</p>
{% endif %}
{% endblock %}
