{% extends "base.html" %}

{% block searchbox %}
<div id="publishing_list_box">
	<form action="" method="get" accept-charset="UTF-8" autocomplete="off">
		<select name="month">
			<option value="-1"{% ifequal selected_month -1 %} selected{% endifequal %}></option>
			{% for month in months %}
				<option value="{{ forloop.counter }}"{% ifequal forloop.counter selected_month %} selected{% endifequal %}>{{ month|lower }}</option>
			{% endfor %}
		</select>
		<select name="year">
			{% for year in years %}
				<option value="{{ year.year }}"{% ifequal year.year selected_year %} selected{% endifequal %}>{{ year.year }}</option>				
			{% endfor %}
		</select>
		<select name="purchased">
			<option value="True" {% if selected_purchased %} selected{% endif %}>include purchased</option>
			<option value="False" {% if not selected_purchased %} selected{% endif %}>exclude purchased</option>
		</select>
		<button type="submit" class="reload_button" />
	</form>
</div>
{% endblock %}

{% block page_arrows %}
{% if books.has_previous %}
	<div class="left_arrow"><a href="?{% if request.GET.month %}month={{ request.GET.month }}&{% endif %}{% if request.GET.year %}year={{ request.GET.year }}&{% endif %}{% if request.GET.purchased %}purchased={{ request.GET.purchased }}&{% endif %}page={{ books.previous_page_number }}"><span class="arrow-w"></span></a></div>
{% endif %}
{% if books.has_next %}
	<div class="right_arrow"><a href="?{% if request.GET.month %}month={{ request.GET.month }}&{% endif %}{% if request.GET.year %}year={{ request.GET.year }}&{% endif %}{% if request.GET.purchased %}purchased={{ request.GET.purchased }}&{% endif %}page={{ books.next_page_number }}"><span class="arrow-e"></span></a></div>
{% endif %}
{% endblock %}

{% block content %}
{% if books %}
	{% for book in books %}
		{% url 'books.views.publishing_list_detail' book.id as url %}
		{% include "books/book_list_partial.html" with book=book url=url %}
	{% endfor %}
{% else %}
	<p>No books are available.</p>
{% endif %}
{% endblock %}