{% extends "base.html" %}

{% block content %}
<table class="statistics">
	<tr>
		<th style="padding-right: 8em;"></th>
		<th style="text-align: center;">binding</th>
		<th style="text-align: right;">count</th>
		<th style="text-align: right;">total</th>
	</tr>
	<tr>
		<th> books: </th>
		<td></td>
		<td class="right"> {{ statistics.book_count }} </td>
		<td class="right" style="padding-left: 2em;"> {{ statistics.book_sum.sum|default_if_none:"0.0" }} &euro; </td>
	</tr>
	{% for binding in statistics.book_bindings %}
		<tr>
			<td></td>
			<td> {{ binding.binding__binding|default_if_none:"Not Provided" }} </td>
			<td class="right"> {{ binding.count }} </td>
			<td class="right" style="padding-left: 2em;"> {{ binding.sum|default_if_none:"0.0" }} &euro; </td>
		</tr>
	{% endfor %}
	<tr class="border_top">
		<th> purchased: </th>
		<td></td>
		<td class="right"> {{ statistics.purchased_count }} </td>
		<td class="right" style="padding-left: 2em;"> {{ statistics.purchased_sum.sum|default_if_none:"0.0" }} &euro; </td>
	</tr>
	{% for binding in statistics.purchased_bindings %}
		<tr>
			<td></td>
			<td> {{ binding.binding__binding|default_if_none:"Not Provided" }} </td>
			<td class="right"> {{ binding.count }} </td>
			<td class="right" style="padding-left: 2em;"> {{ binding.sum|default_if_none:"0.0" }} &euro; </td>
		</tr>
	{% endfor %}
	<tr class="border_top">
		<th> unread: </th>
		<td></td>
		<td class="right"> {{ statistics.sub_count }} </td>
		<td class="right" style="padding-left: 2em;"> {{ statistics.sub_sum.sum|default_if_none:"0.0" }} &euro; </td>
	</tr>
	{% for binding in statistics.sub_bindings %}
		<tr>
			<td></td>
			<td> {{ binding.binding__binding|default_if_none:"Not Provided" }} </td>
			<td class="right"> {{ binding.count }} </td>
			<td class="right" style="padding-left: 2em;"> {{ binding.sum|default_if_none:"0.0" }} &euro; </td>
		</tr>
	{% endfor %}
	<tr class="border_top">
		<th> read: </th>
		<td></td>
		<td class="right"> {{ statistics.read_count }} </td>
		<td class="right" style="padding-left: 2em;"> {{ statistics.read_sum.sum|default_if_none:"0.0" }} &euro; </td>
	</tr>
	{% for binding in statistics.read_bindings %}
		<tr>
			<td></td>
			<td> {{ binding.binding__binding|default_if_none:"Not Provided" }} </td>
			<td class="right"> {{ binding.count }} </td>
			<td class="right" style="padding-left: 2em;"> {{ binding.sum|default_if_none:"0.0" }} &euro; </td>
		</tr>
	{% endfor %}
	<tr class="border_top">
		<th> wish list: </th>
		<td></td>
		<td class="right"> {{ statistics.wishlist_count }} </td>
		<td class="right" style="padding-left: 2em;"> {{ statistics.wishlist_sum.sum|default_if_none:"0.0" }} &euro; </td>
	</tr>
	{% for binding in statistics.wishlist_bindings %}
		<tr>
			<td></td>
			<td> {{ binding.binding__binding|default_if_none:"Not Provided" }} </td>
			<td class="right"> {{ binding.count }} </td>
			<td class="right" style="padding-left: 2em;"> {{ binding.sum|default_if_none:"0.0" }} &euro; </td>
		</tr>
	{% endfor %}
	<tr class="border_top">
		<th> purchased this year: </th>
		<td></td>
		<td class="right"> {{ statistics.year_purchased_count }} </td>
		<td class="right" style="padding-left: 2em;"> {{ statistics.year_purchased_sum.sum }} &euro; </td>
	</tr>
	{% for binding in statistics.year_purchased_binding_counts %}
		<tr>
			<td></td>
			<td> {{ binding.binding__binding|default_if_none:"Not Provided" }} </td>
			<td class="right"> {{ binding.count }} </td>
			<td class="right" style="padding-left: 2em;"> {{ binding.sum|default_if_none:"0.0" }} &euro; </td>
		</tr>
	{% endfor %}
	<tr class="border_top">
		<th> purchased this month: </th>
		<td></td>
		<td class="right"> {{ statistics.month_purchased_count }} </td>
		<td class="right" style="padding-left: 2em;"> {{ statistics.month_purchased_sum.sum }} &euro; </td>
	</tr>
	{% for binding in statistics.month_purchased_binding_counts %}
		<tr>
			<td></td>
			<td> {{ binding.binding__binding|default_if_none:"Not Provided" }} </td>
			<td class="right"> {{ binding.count }} </td>
			<td class="right" style="padding-left: 2em;"> {{ binding.sum|default_if_none:"0.0" }} &euro; </td>
		</tr>
	{% endfor %}
	<tr class="border_top">
		<th> read this year: </th>
		<td></td>
		<td class="right"> {{ statistics.year_read_count }} </td>
		<td class="right" style="padding-left: 2em;"> {{ statistics.year_read_sum.sum|default_if_none:"0.0" }} &euro; </td>
	</tr>
	{% for binding in statistics.year_read_bindings %}
		<tr>
			<td></td>
			<td> {{ binding.binding__binding|default_if_none:"Not Provided" }} </td>
			<td class="right"> {{ binding.count }} </td>
			<td class="right" style="padding-left: 2em;"> {{ binding.sum|default_if_none:"0.0" }} &euro; </td>
		</tr>
	{% endfor %}
	<tr class="border_top">
		<th> read this month: </th>
		<td></td>
		<td class="right"> {{ statistics.month_read_count }} </td>
		<td class="right" style="padding-left: 2em;"> {{ statistics.month_read_sum.sum|default_if_none:"0.0" }} &euro; </td>
	</tr>
	{% for binding in statistics.month_read_bindings %}
		<tr>
			<td></td>
			<td> {{ binding.binding__binding|default_if_none:"Not Provided" }} </td>
			<td class="right"> {{ binding.count }} </td>
			<td class="right" style="padding-left: 2em;"> {{ binding.sum|default_if_none:"0.0" }} &euro; </td>
		</tr>
	{% endfor %}
</table>
{% endblock %}