{% load books buecher %}

<table class="table">
    {% if thead %}
        <thead>
            <tr><th colspan="2"><a href="{% url 'edition' edition.book.slug edition.id %}" style="font-size: 14pt;">edition #{{ edition.id }}</a></th></tr>
        </thead>
    {% endif %}
    <tbody>
        {% if edition.isbn %}
            <tr>
                <th>isbn:</th>
                <td>{{ edition.isbn }}</td>
            </tr>
        {% endif %}
        {% if edition.asin %}
            <tr>
                <th>asin:</th>
                <td>{{ edition.asin }}</td>
            </tr>
        {% endif %}
        {% if edition.publisher %}
            <tr>
                <th>publisher:</th>
                <td><a href="{% url 'publisher' edition.publisher.slug %}">{{ edition.publisher }}</a></td>
            </tr>
        {% endif %}
        {% if edition.published_on %}
            <tr>
                <th>published on:</th>
                <td>{{ edition.published_on|date:'d. F Y' }}</td>
            </tr>
        {% endif %}
        {% if edition.binding %}
            <tr>
                <th>binding:</th>
                <td>{{ edition.binding }}</td>
            </tr>
        {% endif %}
        {% if edition.languages.all %}
            <tr>
                <th>languages:</th>
                <td>{{ edition.languages.all|join:', ' }}</td>
            </tr>
        {% endif %}
        {% if edition.links.all %}
            <tr>
                <th>links:</th>
                <td>
                    <ul class="list-unstyled">
                        {% for link in edition.links.all %}
                            <li><a href="{{ link }}" target="_blank">{{ link }}</a></li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
        {% endif %}
        {% for possession in edition|possessions:request.user %}
            <tr>
                <th>acquisition:</th>
                <td>{{ possession.acquisition|date:'d. F Y' }} for {{ possession.price|floatdot:possession.unit.precision }}{{ possession.unit.symbol }} <a href="{% url 'possession_edit' edition.book.slug edition.id possession.id %}"><span class="glyphicon glyphicon-pencil"></span></a></td>
            </tr>
        {% endfor %}
        {% if add_possessions %}
            {% if user.is_authenticated %}
                <tr>
                    <th></th>
                    <td><a href="{% url 'possession_add' edition.book.slug edition.id %}"><span class="glyphicon glyphicon-plus"></span> add possession</a></td>
                </tr>
            {% endif %}
        {% endif %}
        {% for read in edition|reads:request.user %}
            <tr>
                <th>read:</th>
                <td>{% edition_read read %} <a href="{% url 'read_edit' edition.book.slug edition.id read.id %}"><span class="glyphicon glyphicon-pencil"></span></a></td>
            </tr>
        {% endfor %}
        {% if add_reads %}
            {% if user.is_authenticated %}
                <tr>
                    <th></th>
                    <td><a href="{% url 'read_add' edition.book.slug edition.id %}"><span class="glyphicon glyphicon-plus"></span> add read</a></td>
                </tr>
            {% endif %}
        {% endif %}
        {% if user.is_authenticated %}
            <tr>
                <th>lists:</th>
                <td>
                    {% user_lists user edition as lists %}
                    {% for lst in lists %}
                        <a href="{% url 'list' lst.slug %}">{{ lst.name|lower }}</a>{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th></th>
                <td>
                    <form action="{% if gnext %}?next={{ gnext }}{% endif %}" method="post" enctype="multipart/form-data" class="form-inline">
                        {% csrf_token %}
                        {% for field in form.hidden_fields %}
                            {{ field }}
                        {% endfor %}

                        {% for field in form.visible_fields %}
                            <div class="form-group{% if form.errors %} {{ field.errors|yesno:'has-error,has-success' }}{% endif %}">
                                {{ field }}
                            </div>
                        {% endfor %}

                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">save</button>
                        </div>
                    </form>
                </td>
            </tr>
        {% endif %}
    </tbody>
</table>
