{% extends "admin/base_site.html" %}
{% load i18n %}

{% block breadcrumbs %}
<div class="breadcrumb">
	<li><a href="{% url 'admin:index' %}">{% trans 'Home' %}</a><span class="divider">&raquo;</span></li>
	<li><a href="{% url 'admin:app_list' 'books' %}">{% trans 'Books' %}</a><span class="divider">&raquo;</span></li>
	<li class="active">{% trans 'Parse BibTex' %}</li>
</div>
{% endblock %}

{% block content %}
<div id="content-main" class="inner-two-columns">
	<form id="parse_bibtex" class="form-horizontal" action="{% url 'bibtex' %}" method="post">
		{% csrf_token %}
		<div class="inner-right-column">
			<div class="box save-box">
				<div clas="submit-row clearfix">
					<button class="btn btn-high btn-info" name="_create_book" value="_create_book" type="submit">Create Book</button>
				</div>
			</div>
		</div>
		<div class="inner-center-column">
			<div class="tab-content tab-content-main">
				<fieldset class="module aligned first">
					{% for field in form %}
						<div class="control-group form-row{{ field.errors|yesno:' error,' }}">
							<div>
								<div class="control-label">
									<label {% if field.field.required %}class="required"{% endif %} for="{{ field.auto_id }}">{{ field.label }}:</label>
								</div>
								<div class="controls">
									{{ field }}
									<div class="help-inline">{{ field.help_text }}</div>
									<div class="help-inline">{{ field.errors }}</div>
								</div>
							</div>
						</div>
					{% endfor %}
				</fieldset>
			</div>
		</div>
	</form>
</div>
{% endblock%}