header, footer, nav, article, aside {display: block;}
body {font-family: monospace;
    font-size: 10pt;
    font-weight: normal;
    padding-top: 70px;}

a:active {position: relative;
    top: 1px;
    right: -1px;}



/*### form ###*/

.required:after {content: " *";
    color: gray;}



/*### image list ###*/

figure.book {float: left;
    display: inline-block;
    margin: 0 14px 7px 0;
    padding: 0;
    height: 192px;
    width: 148px;
    text-align: center;
    border: 1px solid gray;
    border-radius: 2px;
    box-shadow: 0px 0px 4px #777777;}

figure.book:hover {background: lightgray;
    border: 1px solid #303030;}

figure.book .image_container {display: block;
    height: 140px;
    width: 146px;
    line-height: 140px;
    margin: -1px 0 0 0;
    padding: 0;
    text-align: center;}

figure.book .caption_container {display: block;
    background: #F0F0F0;;
    height: 50px;
    width: 146px;
    margin: 1px 0 0 0;
    padding: 0;
    text-align: center;}

figure.book figcaption {height: 50px;
    width: 146px;
    font-size: 9pt;
    font-weight: normal;}

figure.book img {display: inline-block;
    max-height: 140px;
    max-width: 146px;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    box-shadow: none;}
