header, footer, nav, article, aside {display:block;}
body {background: #F0F0F0;
	font-family: monospace;
	font-size: 10pt;
	font-weight: normal;
	color: black;}

h1 {font-family: JaneAusten;
	text-align: center;
	font-size: 30pt;
	font-weight: bold;
	color: black;}

h2 {font-family: JaneAusten;
	text-align: center;
	font-size: 20pt;
	color: black;}

a {font-family: monospace;
	font-size: 10pt;
	font-weight: bold;
	color: #777;
	text-decoration: none;}

a:hover {color: #333;
	font-weight: bold;
	text-decoration: none;}

table.statistics {border-collapse: separate;
	border-spacing: 0px 5px;
	margin: 5em auto 0;}

table.statistics tr.border_top td,
table.statistics tr.border_top th {border-top: 1px solid black;}

table.statistics td,
table.statistics th {min-width: 6em;
	padding: 1px 5px;}

table.statistics td.right,
table.statistics th.right {text-align: right;}



/*### navigation ###*/

nav {position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	background: url("../images/nav_background.png");
	z-index: 2;}

nav ul {margin: 0 auto;
	list-style: none;
	text-align: center;}

nav ul li {float: left;}
nav ul li a {display: block;
	margin-right: 7px;
	margin-left: 7px;
	width: 130px;
	font-size: 14px;
	line-height: 44px;
	text-align: center;
	text-decoration: none;
	color: #777;}

nav ul li a:hover {color: #fff;}
nav ul li.selected a {color: #fff;}



/*### main content ###*/

#content {margin-top: 5em;}

#main {margin-left: 3em;
	margin-right: 3em;
	margin-top: 2em;
	text-align: justify;
	text-align-last: justify;}

#main:after {content: " __________________________________________________________";
	line-height: 0;
	visibility: hidden;}



/*### arrows ###*/	

div.left_arrow {position: fixed;
	top: 50%;
	margin-top: -0.2em;
	left: -1em;}

div.right_arrow {position: fixed;
	top: 50%;
	margin-top: -0.2em;
	right: -1em;}

.arrow-e,
.arrow-w { border-style: dashed;
	border-color: transparent;
	border-width: 0.50em;
	display: -moz-inline-box;
	display: inline-block;
	font-size: 50px;
	height: 0;
	line-height: 0;
	vertical-align: middle;
	width: 0;}

.arrow-e { border-left-width: 0.4em;
	border-left-style: solid;
	border-left-color: #777;}

.arrow-w { border-right-width: 0.4em;
	border-right-style: solid;
	border-right-color: #777/*#666*/;}

.arrow-e:hover { border-left-color: #333;}
.arrow-w:hover { border-right-color: #333;}
.arrow-e:active { position: relative;
	top: 1px;
	right: -1px;}

.arrow-w:active { position: relative;
	top: 1px;
	right: 1px;}



/*### image list ###*/

figure#list {float: left;
	margin: 0 5px 17px 0;
	text-align: center;}

figure#list figcaption {width: 144px;
	font-size: 9pt;
	font-weight: normal;
	height: 35px;}

figure#list img {border: 2px solid gray;}
figure#list img:hover {border: 2px solid #303030;}



/*### search box ###*/

#search_box { display: block; position: relative;
	left: 50%;
	width: 0;}

#search { background: url(/static/images/search-white.png) 6px center no-repeat #fcfcfc;
	border: 1px solid #b1b1b1;
	color: black;
	width: 400px;
	margin-left: -200px;
	padding: 6px 15px 6px 35px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
	-webkit-transition: all 0.7s ease 0s;
	-moz-transition: all 0.7s ease 0s;
	-o-transition: all 0.7s ease 0s;
	transition: all 0.7s ease 0s;}

#search:focus { margin-left: -275px;
	width: 550px;
	outline: 0;}



/*### details ###*/

.details img {border: 2px solid gray;}

.details .edition p,
.details .owning p {margin-left: 2em;}

.details .edition li,
.details .owning li {margin-left: 2.25em;}



/*### publishing box list ###*/

#publishing_list_box { margin-left: auto;
	margin-right: auto;
	text-align: center;}

.reload_button {
	background-image: url(/static/images/refresh.png);
	background-size: 20px 20px;
	background-repeat: no-repeat;
	background-position: center;
	-webkit-border-radius: 45px;
	-moz-border-radius: 45px;
	border-radius: 45px;
	border: 1px solid #b1b1b1;
	display: inline-block;
	height: 30px;
	width: 30px;
	position: relative;
	top: -5px;
	overflow: hidden;
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	-o-transition-duration: 0.8s;
	transition-duration: 0.8s;
	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	-o-transition-property: -o-transform;
	transition-property: transform;}

.reload_button:hover { -webkit-transform:rotate(360deg);
	-moz-transform:rotate(360deg);
	-o-transform:rotate(360deg);}