{% extends "base.html" %}

{% block searchbox %}
<div id="search_box">
	<form action="" method="get" accept-charset="UTF-8" autocomplete="off">
		<input type="text" id="search" name="search" placeholder="search ..." {% if search %}value="{{ search }}"{% endif %}/>
		<select name="filter">
			<option value="">filter</option>
			<option value="">---</option>
			<option value="unread" {% if filter == 'unread' %}selected{% endif %}>unread</option>
			<option value="read" {% if filter == 'read' %}selected{% endif %}>read</option>
			<option value="wishlist" {% if filter == 'wishlist' %}selected{% endif %}>wish list</option>
			<option value="purchased" {% if filter == 'purchased' %}selected{% endif %}>purchased</option>
		</select>
		<button type="submit" class="reload_button" />
	</form>
</div>
{% endblock %}

{% block page_arrows %}
{% if books.has_previous %}
	<div class="left_arrow"><a href="?{% if request.GET.search %}search={{ request.GET.search }}&{% endif %}{% if request.GET.filter %}filter={{ request.GET.filter }}&{% endif %}page={{ books.previous_page_number }}"><span class="arrow-w"></span></a></div>
{% endif %}
{% if books.has_next %}
	<div class="right_arrow"><a href="?{% if request.GET.search %}search={{ request.GET.search }}&{% endif %}{% if request.GET.filter %}filter={{ request.GET.filter }}&{% endif %}page={{ books.next_page_number }}"><span class="arrow-e"></span></a></div>
{% endif %}
{% endblock %}

{% block content %}
{% if books %}
	{% for book in books %}
		{% include "books/books/_book_list_shape.html" with book=book %}
	{% endfor %}
{% else %}
	<p>No books are available.</p>
{% endif %}
{% endblock %}