{% extends 'buecher/base.html' %}
{% load staticfiles %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h1 class="page-header">{{ book.title }} <small>{{ book.authors.all|join:', ' }}</small></h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>editions</h2>
        {% if book.editions.all %}
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>cover</th>
                        <th>isbn</th>
                        <th>asin</th>
                        <th>publisher</th>
                        <th>published on</th>
                        <th>languages</th>
                        <th>binding</th>
                        <th>view</th>
                    </tr>
                </thead>
                <tbody>
                    {% for edition in book.editions.all %}
                        <tr>
                            <th><img src="{% if edition.cover_image %}{{ edition.cover_image.url }}{% else %}{% static 'images/default_cover.jpg' %}{% endif%}" style="height: 140px;"></th>
                            <td>{{ edition.isbn }}</td>
                            <td>{{ edition.asin }}</td>
                            <td>{{ edition.publisher }}</td>
                            <td>{{ edition.published_on|date:'d.m.Y' }}</td>
                            <td>{{ edition.langauges.all|join:', ' }}</td>
                            <td>{{ edition.binding }}</td>
                            <td><a href="{% url 'edition' book.slug edition.id %}"><span class="glyphicon glyphicon-eye-open"></span></a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No editions are available.</p>
        {% endif %}
    </div>
</div>
{% endblock %}
